.gestioninventarios {

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card figure img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card-body h2.card-title, .card-body p {
  max-width: 100%;
}

.card-body {
  max-height: 100px;
}

.btn {
  background-color: black;
  border-color: black;
  color: white;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
