.gestioninventarios {
  
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
  }
  
  /* Para pantallas pequeñas */
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }